* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #d7fff4, #cdffe0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #9ffff7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 440px;
    max-width: 100%;
}

.header {
    background-color: #e4fff9;
    padding: 2% 8%;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #000;
}

.header h2 {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px 40px;
}

.form-input label {
    font-weight: 600;
    position: relative;
}

.form-input input {
    border: 1px solid #8dffb9;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: none;
}

.form-input i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.form-input small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-input.success input {
    border-color: #2fff86;
}

.form-input.error input {
    border-color: #f84531;
}

.form-input.success i.uil-check-circle {
    color: #2fff86;
    visibility: visible;
}

.form-input.header i.uil-exclamation-circle {
    color: #f84531;
    visibility: visible;
}

.form-input.error small {
    color: #f84531;
    visibility: visible;
}

.form button {
    background-color: #b6ffd2;
    color: #000;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 8%;
    transition: background 0.3s ease;
    outline: none;
    border: 2px solid #b0ffe1;
}

.form button:hover {
    background: #b0ffe1;
}

#phoneInput {
    display: flex;
    flex-direction: column;
}

.iti__country-list {
    border: 1px solid #2fff86 !important;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(5px) !important;
}

.iti__country-list::-webkit-scrollbar {
    width: 10px;
    background: #d7fff4;
    border-radius: 5px;
}

.iti__country-list::-webkit-scrollbar-thumb {
    background-color: #9ffff7;
    border-radius: 5px;
}

.iti__country-list::-webkit-scrollbar-thumb:hover {
    background-color: #b0ffe1;
}